body{
    background-color: aqua;
}


.clock{
    width:400px;
    height: 400px;
    background-color: azure;
    position: relative;
    border-radius: 50%;
    border: 4px solid black;
}

.clock .clock-hour-1{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    transform: rotate(30deg);
}
.clock .clock-hour-2{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    transform: rotate(60deg);

}
.clock .clock-hour-3{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    transform: rotate(90deg);

}
.clock .clock-hour-4{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    transform: rotate(120deg);
}
.clock .clock-hour-5{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    transform: rotate(150deg);
}
.clock .clock-hour-6{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    transform: rotate(180deg);
}
.clock .clock-hour-7{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    transform: rotate(210deg);
}
.clock .clock-hour-8{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    transform: rotate(240deg);
}
.clock .clock-hour-9{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    transform: rotate(270deg);
}
.clock .clock-hour-10{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    transform: rotate(300deg);
}
.clock .clock-hour-11{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    transform: rotate(330deg);
}
.clock .clock-hour-12{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    transform: rotate(0deg);
}


.clock .hours-pointer{
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 15px;
    height:20%;
    background-color: black;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation)* 1deg));
    z-index: 3;
}

.clock .minutes-pointer{
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 10px;
    height:35%;
    background-color: black;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation)* 1deg));
    z-index: 2;
}

.clock .seconds-pointer{
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 5px;
    height:45%;
    background-color:brown;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation)* 1deg));
    z-index: 1;
}